@charset "utf-8";

/* COMMON */
body,html {width: 100%;height: 100%;font-family: 'Noto Sans KR', sans-serif;font-size: 16px;font-weight: 400;color:#161618;}
#wrap{width:100%;height:100%; min-height:100%;}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff7d01;
  background-clip: padding-box;
  border: 0;
  border-radius: 15px;
}
::-webkit-scrollbar-track {width:10px;background:#fff;overflow:hidden;}

/* header */
header {display:flex;align-items:center;justify-content:space-between;position: fixed;z-index:999;left:0;top:25px;width: calc(100% - 10%);height:70px;margin:0 5%; padding:0 15px; border-radius: 20px;backdrop-filter: blur(5px);}

h1 a {display: block;font-size: 23px;margin:0 15px 0 0;}

/*gnb*/
nav{}
nav .gnb {display: flex;flex-direction: row;justify-content: center;align-items: center;}
.gnb li {flex:1;}
.gnb li a {position: relative;display: block;padding:15px;font-size: 20px;font-family: 'NanumSquare';transition:color .3s;}
.gnb li.on a {font-weight: 700;color:#ff7d01;}
.gnb li a:hover{color:#ff7d01;}


/* common */
section:not(.main-visual) {position:relative;z-index: 1;top: 0;height: 100vh;padding: 100px 0 180px;}

/* main_visual */
.main-visual{position:relative;height:100vh;padding-top:178px;background-color: #E8E8E0;}
.main-visual .txt-box{position:relative;height: calc(100vh - 300px);padding:20px 15px;font-family: 'GyeonggiBatang';overflow:hidden;}
.main-visual .txt-box .txt1{position:relative;display:block;font-size:180px;text-align:right;opacity: 0;transform: translateY(150px);font-family: 'SDSamliphopangche_Basic';color:#ff7d01;}
/* .main-visual .txt-box .txt1::before{position:absolute;display:inline-block;font-size:180px;font-family: 'SDSamliphopangche_Outline';content:'PORTFOLIO';color:#0A3C2C} */
/* .main_visual .txt_box .txt1::after{display:block;content: "";position: absolute;left: 0;background-color:#F3EDD8;width: 0%;height:5px;transition:cubic-bezier(0.25, 1, 0.5, 1);transform: scaleX(0);}
.main_visual .txt_box .txt1.active::after{width:100%;transform: scaleX(1);transition-delay: 0s;} */
.main-visual .txt-box.active .txt1{opacity: 1;transform: translate(0px, 0px);}
.main-visual .txt-box .txt2{position:absolute;bottom:0;left:0;display:block;font-size:30px;opacity: 0;transform: translateY(150px);}
.main-visual .txt-box .name{display:inline-block;width:100%;font-size: 30px;margin-top: 86px;opacity: 0;text-align:right;transform: translateY(150px);}
.main-visual p { font-weight:900;font-size: 53px;line-height: 1.4;}
.main-visual p span {display: block;font-size: 45px;font-weight:500;}

/* progress */
progress {position: fixed;z-index: 999;top: 0;left: 0;-webkit-appearance: none;appearance: none;width: 100%;height: 10px;border: none;background: transparent;}
progress::-webkit-progress-bar {background: transparent;}
progress::-webkit-progress-value {background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);background-attachment: fixed;}
progress::-moz-progress-bar {background:linear-gradient(120deg, #f6d365 0%, #fda085 100%);background-attachment: fixed;}

/* about */
.about {background:#f8f8f8;}
.about h2{margin-bottom: 80px;text-align:center;font-size:80px;font-family: 'GyeonggiBatang';}
.about .about-img{}
.about .about-text{display: flex;flex-wrap: wrap;border-radius:8px;background-color: #161618;overflow:hidden;}
.about .about-text dl{display:flex;flex-direction: column;justify-content: center;align-items: center;width: 50%;height: 160px;font-size:20px;transition:.3s;}
.about .about-text dl:hover{background-color:#ff7d01;}
.about .about-text dl:hover dt{color:#161618;}
.about .about-text dl:nth-child(odd){border-right:1px solid rgba(255,255,255,0.5);}
.about .about-text dl:nth-child(-n+2){border-bottom:1px solid rgba(255,255,255,0.5);}
.about .about-text dl dt{margin-bottom: 15px;color:#ff7d01;font-size:25px;font-weight:700;}
.about .about-text dl dd{font-size:20px;font-weight:500;color:#fff;}


/* portfolio */
.portfolio{height:150vh !important;background:#fff;}
.portfolio .container{display: -webkit-box;}
.portfolio h2{position:sticky;top:100px;display: inline-block;margin:0;text-align:left ;font-family: 'GyeonggiBatang';font-size:6vh;writing-mode: vertical-rl;text-orientation: upright;}
.portfolio .pf-wrap{width: calc(100% - 8vw);margin-left: 100px;}
.portfolio .tab{display:flex;margin-bottom: 50px;}
.portfolio .tab li{flex:1;text-align:center;}
.portfolio .tab li a{display: inline-block;width: 100%;padding: 15px 0;font-size: 25px;font-weight: 700;}
.portfolio .tab li.on a{color:#ff7d01;}
.portfolio .pf-box{}
.portfolio .pf-box .list{display:flex;flex-wrap:wrap;}
.portfolio .pf-box .list li{width:calc((100% - 30px) / 3);margin:0 15px 15px 0;overflow:hidden;border:1px solid #161618;border-radius:5px;transition:.3s;background-color: transparent;}
.portfolio .pf-box .list li:hover{border-color:#ff7d01;background-color: #ff7d01;}
.portfolio .pf-box .list li:nth-child(3n){margin:0 0 15px 0;}
.portfolio .pf-box .list li .img{width:100%;height:300px;}
.portfolio .pf-box .list li .name{font-weight:700;font-size:25px;}
.portfolio .pf-box .list li .desc{padding:15px;background-color:#000;color:#fff;}
.portfolio .pf-box .list li .desc span{display:inline-block;width:100px;}
.portfolio-wrap .tab{margin-top:50px;}
.portfolio-wrap .tab ul{display:flex;align-items: center;justify-content: center;}
.portfolio-wrap .tab ul li{margin-right:25px;}
.portfolio-wrap .tab ul li:last-child{margin:0;}
.portfolio-wrap .tab ul li a{display:inline-block;width:120px;height: 50px;text-align:center;background:#eee;line-height: 48px;border-radius: 48px;color:#16311e;}
.portfolio-wrap .tab ul li.on a,.portfolio-wrap .tab ul li:hover a{background:#093115;color:#fff;font-weight:500;}
.portfolio-wrap .portfolio .num {float: left;
  margin: 6.56rem 0 0 4.5rem;
  padding-bottom: 6.87rem;
  position: -webkit-sticky;
  position: sticky;
  top: 11.25rem;
  transition: all .2s ease-in-out;
  font-size: 180px;
  font-weight: 700;
  color:#093115
}
.portfolio-wrap .portfolio.active .num{color:red;}
.portfolio-wrap .portfolio .list_box {
    position: relative;
    padding-left: 3.56rem;
    padding-top: 28vh;
    padding-bottom: 1.875rem;
}
.portfolio-wrap .portfolio .list_box dl{display:flex;align-items:flex-start;height:800px;transition:all .2s ease-in-out}
.portfolio-wrap .portfolio .list_box dt {
  width: 39%;
  margin: 0 0 0 4.5rem;
  padding-bottom: 6.87rem;
  position: -webkit-sticky;
  position: sticky;
  top: 11.25rem;
  transition: all 1s ease-in-out;
  font-size: 180px;
  font-weight: 700;
  color:transparent;
}

.portfolio_wrap .portfolio .list_box dl.ani dd{opacity:1; animation:ani1 .2s linear;border: 10px solid #16311e;}
.portfolio_wrap .portfolio dl:nth-child(2n).ani dd{border: 10px solid #f5f5f5;}
.portfolio_wrap .portfolio .list_box  dd::before{position:absolute;display:block;top:-35px;left:-15px;content:'';width:18px;height:72px;background:#16311e;border-radius:8px;transform:rotate(-28deg);}
.portfolio_wrap .portfolio dl:nth-child(2n).ani dd::before{background:#f5f5f5;}
.portfolio_wrap .portfolio .list_box  dd::after{position:absolute;display:block;top:-63px;left:15px;content:'';width:18px;height:72px;background:#16311e;border-radius:8px;transform:rotate(-28deg);}
.portfolio_wrap .portfolio dl:nth-child(2n).ani dd::after{background:#f5f5f5;}
.portfolio_wrap .portfolio .list_box  dd .thumb{height:300px;}
.portfolio_wrap .portfolio .list_box  dd .txt{color:#fff;line-height: 1.5;}
.portfolio_wrap .portfolio .list_box .list2{flex-direction: row-reverse;} 



/* skill */
.skill {background: #4e6756;color:#16311e;}
.skill ul {display: flex;flex-wrap:wrap;}
.skill ul li {width: calc((100% - 100px) / 3);min-height:300px;;padding:20px;margin:15px 50px 15px 0;border-radius:15px;background:#f9f9f9;border: 6px solid #16311e;}
.skill ul li:nth-child(3n){margin-right:0;}
.skill ul li strong{font-size: 23px;font-weight: 600;}
.skill p {margin-top: 30px;text-align: left;font-size: 17px;font-weight: 400;}



/* profile */
.profile{position:relative;overflow: hidden;}
/* .profile h2{margin-bottom: 80px;text-align:right;font-size:80px;font-family: 'GyeonggiBatang';} */
.profile .bg-wrap{position:absolute;top: 0;z-index:-1;width:100%;height:100%;}
.profile .bg-wrap>div{position:absolute;width: 100%;height: 100%;}
.profile .bg-wrap .bg-1{width:100%;height:100%;top: 50%;left: 50%;z-index:2;transform: scale(1) translate(-50%, -50%);background: url("../images/profile-bg1.jpg")no-repeat 0 0;transition: all 0.8s ease-out;background-size: 100% 100%;}
.profile .bg-wrap .bg-2{z-index: 1;background: url("..//images/profile-bg2.jpg")no-repeat 0 0;background-size: 100% 100%;}

.profile .tit{margin-bottom: 80px;text-align:right;font-size:80px;font-family: 'GyeonggiBatang';}
.profile .text-box{display:flex;flex-wrap:wrap;justify-content: center;padding: 50px;background: rgba(255,255,255,0.4);border-radius: 0 0 8px 8px;}
.profile .text-box dl{display:flex;flex-direction: column;justify-content: center;align-items: center;width: 50%;height: 160px;font-size:20px;transition:.3s;}
.profile .text-box dl:nth-child(odd){border-right:1px solid rgba(255,255,255,0.5);}
.profile .text-box dl:nth-child(-n+2){border-bottom:1px solid rgba(255,255,255,0.5);}
.profile .text-box dl dt{margin-bottom: 15px;font-size:25px;font-weight:700;}
.profile .text-box dl dd{font-size:20px;font-weight:500;}
.profile .btn-resume{display:block;padding:6px 0;font-size:16px;color:#fff;font-weight:700;border-radius:8px 8px 0 0;text-align:center;background-color:#ff7d01;border:1px solid #ff7d01;transition:.3s;}
.profile .btn-resume:hover{background-color:rgba(255,255,255,0.4);color:#ff7d01;}
.profile .btn-resume:hover .icon-click{background-image:url("../images/icon-click-on.png")}
.profile .btn-resume span{display:inline-block;margin-left:5px;animation:color 1s infinite linear;}

@keyframes color{
  0%{color:#fff;}
  100%{color:#161618;}
}

/* ----------------------------------------------------------------------------------------media 1024px ----------------------------------------------------------------------------*/

@media (max-width:1024px) { 


}
/* ----------------------------------------------------------------------------------------media 768px ----------------------------------------------------------------------------*/
@media(max-width:768px){
header{width: 100%;margin: 0;top: 0;border-radius:0;}
h1 a {padding: 20px 0;font-size: 3vw; text-align: center;line-height: 1.4;}
  
/*gnb*/
nav.gnb_bg {padding: 10px 0;}
.gnb li a {font-size: 14px;} 
.gnb li a:hover::before {width: 0;}


  
  /*footer*/
  footer {text-align: center;font-size: 12px;}
  footer p {padding: 0 10px; line-height: 70px;}

}